<div class="container bootstrap" id="main-container">
   <div >
        
      <div >
          <div class="wp-block product" > 
            <h2 class="product-title">{{restaurants?.resName}}</h2>
              <br><br>
              <figure>
                  <img src="data:image/png;base64,{{restaurants?.resImage}}" class="img-responsive img-center" style="max-width:100%;">
              </figure>
              <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star disable"></li>
                  <li class="fa fa-star disable"></li>
              </ul>
              <p>
               #{{restaurants?.resId}}
               <br>
               {{restaurants?.description}}<br>
               Open time :  {{restaurants?.resOpen}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Close time :  {{restaurants?.resClose}}
               <br>
                   
              </p>
              
              <div class="wp-block-footer">
               <a [routerLink]="['/home']" routerLinkActive="active" style="text-decoration: none;" class="btn btn-sm btn-info pull-left" >
                  &nbsp;Back&nbsp;
              </a>

                  <a style="text-decoration: none;" class="btn btn-sm btn-warning btn-icon btn-cart pull-right" (click)="onOpenModal(null, 'booking')">
                      <i class="fa fa-cart-plus"></i>
                      &nbsp;book now
                  </a>
              </div>
          </div>
          <br>
          <br>
      </div>

<!-- Booking Modal -->
<div class="modal fade" id="userBookingModal" tabindex="-1" role="dialog" aria-labelledby="userBookingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="userBookingModalLabel">Restaurant Reservation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onBooking(addForm)">
            <div class="form-group">
               <input type="number" ngModel={{restaurants?.resId}} name="restaurantModel.resId" class="form-control" id="restaurantModel.resId" value={{restaurants?.resId}} placeholder="Restaurant ID">
               {{restaurants?.resName}}
           </div>
          <div class="form-group">
             <input type="text" ngModel name="bookName" class="form-control" id="bookName" placeholder="Booking Name" required>
          </div>
          <div class="form-group">
              <input type="date" ngModel name="bookDate" class="form-control" id="bookDate" placeholder="Booking Date" required>
           </div>
           <div class="form-group">
              <input type="time" ngModel name="bookTime" class="form-control" id="bookTime" placeholder="Booking Time" required>
           </div>
           <div class="form-group">
              <input type="text" ngModel name="person" class="form-control" id="person" placeholder="Number of Person" required>
           </div>
           <div class="form-group">
              <label for="occasion">Occasion</label>
              <select id="occasion" ngModel name="occasion" class="form-control"  required>
                      <option value="Lunch">Lunch</option>
                      <option value="Dinner">Dinner</option>
                      <option value="Birthday">Birthday</option>
                      <option value="Anniversary">Anniversary</option>
                      <option value="Wedding">Wedding</option>
                      <option value="Family">Family</option>
                      <option value="Corporate">Corporate</option>
                      <option value="VIP">VIP</option>
                      <option value="Other" selected>Other</option>
                </select>
           </div>
           <div class="form-group">
              <input type="text" ngModel name="telephone" class="form-control" id="telephone" placeholder="Telephone" required>
           </div>
           <div class="form-group">
              <input type="text" ngModel name="email" class="form-control" id="email" placeholder="E-mail" required>
           </div>
          
          <div class="modal-footer">
             <button type="button" id="user-booking-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Booking</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

 </div>

</div>                