<div class="container" id="main-container">
    <div class="row">
       
        <div class="col-md-12 col-md-offset-1">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-12">
                    <h3 class="panel-title">Booking</h3>
                  </div>
                  <div class="col col-12" style="text-align:right;">
                        <button type="button" class="btn btn-sm btn-primary btn-create" (click)="onOpenModal(null, 'booking')">Create New</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list" style="padding: 0px;">
                  <thead>
                    <tr style="text-align: center;">
                        <th class="hidden-xs">ID</th>
                        <th>Book Name</th>
                        <th>Book Date</th>
                        <th>Book Time</th>
                        <th>Person</th>
                        <th>Occasion</th>
                        <th>Telephone</th>
                        <th>E-mail</th>
                        <th>Restaurant</th>
                        <th><em class="fa fa-cog"></em></th>
                    </tr> 
                  </thead>
                  <tbody>
                          
                          <tr *ngFor="let booking of bookings | 
                                       paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalLength }" 
                              style="font-size: 14px;">
                            
                            <td class="hidden-xs" style="text-align: center;">{{booking?.bookId}}</td>
                            <td>{{booking?.bookName}}</td>
                            <td>{{booking?.bookDate}}</td>
                            <td>{{booking?.bookTime}}</td>
                            <td>{{booking?.person}}</td>
                            <td>{{booking?.occasion}}</td>
                            <td>{{booking?.telephone}}</td>
                            <td>{{booking?.email}}</td>
                            <td>{{booking?.resId}}</td>
                            <td>
                              <a (click)="onOpenModal(booking, 'edit')" class="btn btn-default tooltips" data-placement="top" data-original-title="Edit"><em class="fa fa-pencil"></em> </a>
                              <a (click)="onOpenModal(booking, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><em class="fa fa-trash fa-xs"></em></a>
                            </td>
                          </tr>
                        </tbody>
                </table>

                <br>
                <pagination-controls class="text-right" (pageChange)="page = $event"></pagination-controls>
            
              </div>

            </div>

</div></div>


<!-- Booking Modal -->
<div class="modal fade" id="userBookingModal" tabindex="-1" role="dialog" aria-labelledby="userBookingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="userBookingModalLabel">Table Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onBooking(addForm)">
          <div class="form-group">
             <input type="text" ngModel name="bookName" class="form-control" id="bookName" placeholder="Booking Name" required>
          </div>
          <div class="form-group">
              <input type="date" ngModel name="bookDate" class="form-control" id="bookDate" placeholder="Booking Date" required>
           </div>
           <div class="form-group">
              <input type="time" ngModel name="bookTime" class="form-control" id="bookTime" placeholder="Booking Time" required>
           </div>
           <div class="form-group">
              <input type="text" ngModel name="person" class="form-control" id="person" placeholder="Number of Person" required>
           </div>
           <div class="form-group">
              <label for="occasion">Occasion</label>
              <select id="occasion" ngModel name="occasion" class="form-control"  required>
                      <option value="Birthday">Birthday</option>
                      <option value="Anniversary">Anniversary</option>
                      <option value="Wedding">Wedding</option>
                      <option value="Family">Family</option>
                      <option value="Corporate">Corporate</option>
                      <option value="VIP">VIP</option>
                      <option value="Other" selected>Other</option>
                </select>
           </div>
           <div class="form-group">
              <input type="text" ngModel name="telephone" class="form-control" id="telephone" placeholder="Telephone" required>
           </div>
           <div class="form-group">
              <input type="text" ngModel name="email" class="form-control" id="email" placeholder="E-mail" required>
           </div>
          
          <div class="modal-footer">
             <button type="button" id="user-signin-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Booking</button>
          </div>
          </form>
       </div>
    </div>
  </div>
</div>


<!-- edit Booking Modal -->
<div class="modal fade" id="updateBookingModal" tabindex="-1" role="dialog" aria-labelledby="updateBookingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="updateBookingModalLabel">Edit Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #editForm="ngForm">
          <div class="form-group">
             <input type="text" ngModel="{{editBooking?.bookName}}" name="bookName" class="form-control" id="bookName" placeholder="Booking Name" required>
          </div>
          <div class="form-group">
              <input type="date" ngModel="{{editBooking?.bookDate}}" name="bookDate" class="form-control" id="bookDate" placeholder="Booking Date" required>
           </div>
           <div class="form-group">
              <input type="time" ngModel="{{editBooking?.bookTime}}" name="bookTime" class="form-control" id="bookTime" placeholder="Booking Time" required>
           </div>
           <div class="form-group">
              <input type="text" ngModel="{{editBooking?.person}}" name="person" class="form-control" id="person" placeholder="Number of Person" required>
           </div>
           <div class="form-group">
              <label for="occasion">Occasion</label>
              <select id="occasion" ngModel="{{editBooking?.occasion}}" name="occasion" class="form-control"  required>
                      <option value="{{editBooking?.occasion}}">{{editBooking?.occasion}}</option>
                      <option value="Birthday">Birthday</option>
                      <option value="Anniversary">Anniversary</option>
                      <option value="Wedding">Wedding</option>
                      <option value="Family">Family</option>
                      <option value="Corporate">Corporate</option>
                      <option value="VIP">VIP</option>
                      <option value="Other" selected>Other</option>
                </select>
           </div>
           <div class="form-group">
              <input type="text" ngModel="{{editBooking?.telephone}}" name="telephone" class="form-control" id="telephone" placeholder="Telephone" required>
           </div>
           <div class="form-group">
              <input type="text" ngModel="{{editBooking?.email}}" name="email" class="form-control" id="email" placeholder="E-mail" required>
           </div>
          
          <div class="modal-footer">
             <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button (click)="onUpdateBooking(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save</button>
          </div>
          </form>
       </div>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteBookingModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Booking</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete Booking [ {{deleteBooking?.bookName}} ] ?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteBooking(deleteBooking?.bookId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>

</div>

  <!-- Notification for no restaurant -->
  <div *ngIf="bookings?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO BOOKING!</h4>
    <p>No Booking were found.</p>
  </div>
  </div>